# Entorno virtual
venv/
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Migraciones (solo caché, no los archivos .py)
*/migrations/__pycache__/

# Archivos estáticos y media generados (se crean en producción)
staticfiles/
media/

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
*.log
*.pot
*.py[cod]
*$py.class
