# Entorno virtual
venv/
*.pyc
__pycache__/

# Archivos de base de datos locales
db.sqlite3

# Archivos de migraciones
*/migrations/__pycache__/
*/migrations/*.py

# Archivos estáticos y media generados
staticfiles/
media/

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
*.log
*.pot
*.py[cod]
*$py.class
